*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 50px;
}

h3{
    text-align: center;
    font-size: 30px;
}

body{
    background-image: url(../image/background.webp);
    background-size:cover;
}


/* debut de la partie de jeu */
.jeu{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* image de gauche pour gagner des points */
.jeu .gauche{
    width: 45%;
    border: solid pink 2px;
    height: 70vh;
}

.jeu .gauche img{
    width: 100%;
    height: 70vh;
    cursor: pointer;
}

/* magasin */
.jeu .droite{
    width: 35%;
    border: solid black 2px;
    height: 70vh;
    overflow: auto;
    background-color: white;
}

.jeu .droite .shop{
    text-align: center;
    background-color: white;
    border-bottom: solid black 2px;
}

.jeu .droite .shopbtn{
    width: 100%;
    height: 7vh;
    border-radius: 0;
    border: none;
    cursor: pointer;
}